body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7001 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:835px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(239, 239, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:428px;
  height:835px;
  display:flex;
  color:#FFFFFF;
}
#u7002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
}
#u7003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:306px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  color:#F59A23;
  text-align:center;
  line-height:20px;
}
#u7003 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7004_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:242px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7004 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:64px;
  width:242px;
  height:242px;
  display:flex;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7004 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7006_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u7006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u7006 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u7007 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:10px;
  height:18px;
  display:flex;
}
#u7007 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u7007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7009_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:526px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7009 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u7010 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:550px;
  width:8px;
  height:13px;
  display:flex;
}
#u7010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:587px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7012 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u7013 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:611px;
  width:8px;
  height:13px;
  display:flex;
}
#u7013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:456px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u7015 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u7016 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:480px;
  width:8px;
  height:13px;
  display:flex;
}
#u7016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7017_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:526px;
  width:20px;
  height:121px;
  display:flex;
  font-size:28px;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7017 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7018_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7018 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:366px;
  width:120px;
  height:60px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7018 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7019 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:366px;
  width:120px;
  height:60px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7019 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(212, 212, 212, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7020 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:366px;
  width:120px;
  height:60px;
  display:flex;
  font-size:12px;
  color:#AAAAAA;
  text-align:center;
  line-height:15px;
}
#u7020 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7020_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
