body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:828px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:676px;
  background:inherit;
  background-color:rgba(17, 17, 17, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 17, 17, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:428px;
  height:676px;
  display:flex;
  color:#FFFFFF;
}
#u6527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u6528 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:142px;
  width:2px;
  height:3px;
  display:flex;
}
#u6528 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:113px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u6529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:113px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
}
#u6529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:90px;
  background:inherit;
  background-color:rgba(29, 29, 29, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u6530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:789px;
  width:428px;
  height:90px;
  display:flex;
  font-size:11px;
  color:#1E1E1E;
}
#u6530 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:56px;
}
#u6532 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:789px;
  width:85px;
  height:56px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6532 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 4px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6533 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:21px;
}
#u6534 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:801px;
  width:22px;
  height:21px;
  display:flex;
  color:#333333;
}
#u6534 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:3px;
}
#u6535 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:808px;
  width:14px;
  height:3px;
  display:flex;
  color:#333333;
}
#u6535 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:56px;
}
#u6537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:789px;
  width:85px;
  height:56px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#D3D3D3;
}
#u6537 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 4px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u6538 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:800px;
  width:25px;
  height:21px;
  display:flex;
  color:#D3D3D3;
}
#u6538 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:56px;
}
#u6540 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:789px;
  width:85px;
  height:56px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6540 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 4px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6541 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:801px;
  width:20px;
  height:20px;
  display:flex;
  color:#333333;
}
#u6541 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:56px;
}
#u6543 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:789px;
  width:85px;
  height:56px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6543 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 4px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u6545 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:801px;
  width:10px;
  height:14px;
  display:flex;
  color:#333333;
}
#u6545 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:25px;
}
#u6546 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:798px;
  width:18px;
  height:25px;
  display:flex;
  color:#333333;
}
#u6546 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:56px;
}
#u6549 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:789px;
  width:88px;
  height:56px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u6549 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 4px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6550 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u6551 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:800px;
  width:13px;
  height:15px;
  display:flex;
  color:#333333;
}
#u6551 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u6552 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:812px;
  width:21px;
  height:9px;
  display:flex;
  color:#333333;
}
#u6552 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6553_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u6553 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:63px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u6553 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6553_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u6554_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:57px;
  height:52px;
}
#u6554 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:63px;
  width:55px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Medium", "PingFang SC Medium", "PingFang SC", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6554 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6554_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u6555_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:42px;
  height:52px;
}
#u6555 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:63px;
  width:40px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u6555 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6555_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u6556_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:57px;
  height:52px;
}
#u6556 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:63px;
  width:55px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-weight:100;
  font-style:normal;
  color:#7F7F7F;
}
#u6556 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6556_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u6557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u6557 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:63px;
  width:22px;
  height:22px;
  display:flex;
}
#u6557 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:676px;
  background:inherit;
  background-color:rgba(17, 17, 17, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(17, 17, 17, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u6558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:428px;
  height:676px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u6558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6559 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:328px;
  height:70px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6559 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 75px;
  box-sizing:border-box;
  width:100%;
}
#u6559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6561_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6561 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:315px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6561 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6562 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:303px;
  width:100px;
  height:70px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6562 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:373px;
  width:328px;
  height:70px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6563 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 75px;
  box-sizing:border-box;
  width:100%;
}
#u6563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6565 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:385px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6565 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6566 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:373px;
  width:100px;
  height:70px;
  display:flex;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6566 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6567 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:583px;
  width:328px;
  height:70px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6567 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 75px;
  box-sizing:border-box;
  width:100%;
}
#u6567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6568 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6569 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:595px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6569 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6570 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:583px;
  width:100px;
  height:70px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6570 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6571 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:653px;
  width:328px;
  height:70px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6571 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 75px;
  box-sizing:border-box;
  width:100%;
}
#u6571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6573 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:665px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6573 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6574 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:653px;
  width:100px;
  height:70px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6574 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:428px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6575 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u6576 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:267px;
  width:7px;
  height:12px;
  display:flex;
}
#u6576 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6577 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:523px;
  width:428px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u6577 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:443px;
  width:328px;
  height:70px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:left;
}
#u6578 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 75px;
  box-sizing:border-box;
  width:100%;
}
#u6578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6579 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6580 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:455px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
  line-height:20px;
}
#u6580 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:70px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-top:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6581 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:443px;
  width:100px;
  height:70px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#AAAAAA;
  text-align:right;
}
#u6581 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:208px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 25, 25, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6582 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:20px;
  height:208px;
  display:flex;
}
#u6582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:138px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 25, 25, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:584px;
  width:20px;
  height:138px;
  display:flex;
}
#u6583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u6584 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:547px;
  width:7px;
  height:12px;
  display:flex;
}
#u6584 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:60px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#C9C7CE;
  text-align:right;
}
#u6586 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:173px;
  width:258px;
  height:60px;
  display:flex;
  font-size:14px;
  color:#C9C7CE;
  text-align:right;
}
#u6586 .text {
  position:absolute;
  align-self:center;
  padding:0px 25px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u6587 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:197px;
  width:7px;
  height:12px;
  display:flex;
}
#u6587 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6588_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D3D3D3;
  text-align:left;
}
#u6588 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:170px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D3D3D3;
  text-align:left;
}
#u6588 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u6589 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:194px;
  width:18px;
  height:18px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u6589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:60px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#C9C7CE;
  text-align:right;
}
#u6590 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:113px;
  width:258px;
  height:60px;
  display:flex;
  font-size:14px;
  color:#C9C7CE;
  text-align:right;
}
#u6590 .text {
  position:absolute;
  align-self:center;
  padding:0px 25px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u6591 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:137px;
  width:7px;
  height:12px;
  display:flex;
}
#u6591 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:60px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(36, 36, 36, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D3D3D3;
  text-align:left;
}
#u6592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:170px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D3D3D3;
  text-align:left;
}
#u6592 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:118px;
  background:inherit;
  background-color:rgba(25, 25, 25, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 25, 25, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6593 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:20px;
  height:118px;
  display:flex;
}
#u6593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6594_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:62px;
  height:52px;
}
#u6594 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:63px;
  width:60px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:16px;
  color:#7F7F7F;
}
#u6594 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6594_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
