body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:428px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:736px;
  background:inherit;
  background-color:rgba(239, 239, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(239, 239, 244, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6346 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:428px;
  height:736px;
  display:flex;
  color:#FFFFFF;
}
#u6346 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6346_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6347 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u6347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6348 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u6349 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:343px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u6349 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6349_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:44px;
  display:flex;
  font-family:"Arial-BoldMT", "Arial Bold", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u6350 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6351 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:266px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6353 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u6354 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:290px;
  width:8px;
  height:13px;
  display:flex;
}
#u6354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6355 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:467px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6355 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u6355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u6356 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:491px;
  width:8px;
  height:13px;
  display:flex;
}
#u6356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u6358 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:474px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u6358 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:528px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6359 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u6359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u6360 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:552px;
  width:8px;
  height:13px;
  display:flex;
}
#u6360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u6362 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:535px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u6362 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:467px;
  width:20px;
  height:121px;
  display:flex;
}
#u6363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:397px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6365 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 70px;
  box-sizing:border-box;
  width:100%;
}
#u6365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u6366 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:421px;
  width:8px;
  height:13px;
  display:flex;
}
#u6366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u6368 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:404px;
  width:46px;
  height:46px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u6368 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:20px;
  height:121px;
  display:flex;
}
#u6369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:428px;
  height:60px;
  display:flex;
  font-size:12px;
  text-align:left;
  line-height:20px;
}
#u6370 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:20px;
  height:182px;
  display:flex;
}
#u6371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u6373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:428px;
  height:100px;
  display:flex;
  font-family:"ArialMT", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
  line-height:24px;
}
#u6373 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:60px;
}
#u6374 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:64px;
  width:348px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6374 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 5px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(42, 42, 42, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(42, 42, 42, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u6375 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:60px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#555555;
}
#u6375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u6376 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:88px;
  width:8px;
  height:13px;
  display:flex;
}
#u6376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6378 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u6379 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:13px;
  width:10px;
  height:18px;
  display:flex;
}
#u6379 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u6379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
