body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4950 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4951 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:532px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4951 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4952 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:566px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4952 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4953 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:600px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4953 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4954 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:634px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4954 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4955 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:472px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4955 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4956_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:62px;
  height:52px;
}
#u4956 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:64px;
  width:60px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4956_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4958_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4958 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4958_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4959_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4959 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4959_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4960_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4960 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4960_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u4961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:688px;
  width:375px;
  height:80px;
  display:flex;
  font-size:11px;
  color:#1E1E1E;
}
#u4961 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4963 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4964 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AAAAAA;
}
#u4966 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:688px;
  width:96px;
  height:50px;
  display:flex;
  font-size:11px;
  color:#AAAAAA;
}
#u4966 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4967 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:695px;
  width:23px;
  height:23px;
  display:flex;
}
#u4967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4969 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4969 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4970 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4972 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4972 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4973 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u4974 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:598px;
  width:280px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4974 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
}
#u4975 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:628px;
  width:280px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u4975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4976_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4976 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u4976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4976_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u4978 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:568px;
  width:110px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u4978 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u4978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4980 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:572px;
  width:22px;
  height:22px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u4980 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 35px;
  box-sizing:border-box;
  width:100%;
}
#u4980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u4981 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:576px;
  width:10px;
  height:13px;
  display:flex;
  color:#FFFFFF;
}
#u4981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
