body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:532px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4056 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:566px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4057 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:600px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4058 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:634px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4059 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:472px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4060 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4061_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:62px;
  height:52px;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:64px;
  width:60px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4061 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4061_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4063 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4063_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4064_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4064 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4064_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4065_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:688px;
  width:375px;
  height:80px;
  display:flex;
  font-size:11px;
  color:#1E1E1E;
}
#u4066 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4068 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AAAAAA;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:688px;
  width:96px;
  height:50px;
  display:flex;
  font-size:11px;
  color:#AAAAAA;
}
#u4071 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:695px;
  width:23px;
  height:23px;
  display:flex;
}
#u4072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4074 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4075 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4075_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4077 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4077_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4078 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4078 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4078_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u4079 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:598px;
  width:280px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4079 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4079_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:628px;
  width:280px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u4080 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4080_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4081_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u4081 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4081_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:568px;
  width:110px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u4083 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 30px;
  box-sizing:border-box;
  width:100%;
}
#u4083_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:572px;
  width:22px;
  height:22px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-weight:100;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u4085 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 35px;
  box-sizing:border-box;
  width:100%;
}
#u4085_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:576px;
  width:10px;
  height:13px;
  display:flex;
  color:#FFFFFF;
}
#u4086 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4086_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
