body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:688px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#AAAAAA;
}
#u4855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4857 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:532px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4857 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4858 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:566px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4858 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4859 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:600px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4859 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:24px;
}
#u4860 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:634px;
  width:40px;
  height:24px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4860 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4861 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:472px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:20px;
}
#u4861 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4862_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:62px;
  height:52px;
}
#u4862 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:64px;
  width:60px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4862 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4862_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4863 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4864_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4864 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4864 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4864_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4865_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4865 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4865 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4865_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4866_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4866 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4866_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
#u4867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u4867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:688px;
  width:375px;
  height:80px;
  display:flex;
  font-size:11px;
  color:#1E1E1E;
}
#u4867 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4869 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4869 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4870 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#AAAAAA;
}
#u4872 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:688px;
  width:96px;
  height:50px;
  display:flex;
  font-size:11px;
  color:#AAAAAA;
}
#u4872 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u4873 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:695px;
  width:23px;
  height:23px;
  display:flex;
}
#u4873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4875 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4875 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4876 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4876 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4878 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:688px;
  width:93px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#AAAAAA;
}
#u4878 .text {
  position:absolute;
  align-self:flex-end;
  padding:0px 0px 4px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:23px;
}
#u4879 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:695px;
  width:27px;
  height:23px;
  display:flex;
}
#u4879 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4879_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u4880 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:598px;
  width:280px;
  height:30px;
  display:flex;
  font-family:"PingFangSC-Semibold", "PingFang SC Semibold", "PingFang SC", sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4880 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:60px;
}
#u4881 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:628px;
  width:280px;
  height:60px;
  display:flex;
  font-family:"PingFangSC-Ultralight", "PingFang SC Ultralight", "PingFang SC", sans-serif;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u4881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4882_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:52px;
  height:52px;
}
#u4882 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:64px;
  width:50px;
  height:50px;
  display:flex;
  font-family:"PingFangSC-Light", "PingFang SC Light", "PingFang SC", sans-serif;
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u4882 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4882_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -webkit-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  -moz-text-shadow:0px 1px 3px rgba(0, 0, 0, 0.2980392156862745);
  text-transform:none;
}
