body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:210px;
}
#u4848 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:100px;
  width:100px;
  height:210px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4849 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:150px;
  width:0px;
  height:0px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFCC00;
}
#u4849_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:22px;
  height:10px;
}
#u4849_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-5px;
  width:10px;
  height:65px;
}
#u4849_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:50px;
  width:28px;
  height:10px;
}
#u4849_seg3 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:46px;
  width:18px;
  height:18px;
}
#u4849_text {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 204, 0, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4850 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:100px;
  height:100px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:210px;
}
#u4851 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:100px;
  width:100px;
  height:210px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 204, 0, 0.4980392156862745);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4852 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:210px;
  width:100px;
  height:100px;
  display:flex;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4853 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:260px;
  width:0px;
  height:0px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFCC00;
}
#u4853_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:23px;
  height:10px;
}
#u4853_seg1 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-60px;
  width:10px;
  height:65px;
}
#u4853_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-60px;
  width:27px;
  height:10px;
}
#u4853_seg3 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-64px;
  width:18px;
  height:18px;
}
#u4853_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4854 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:205px;
  width:0px;
  height:0px;
  font-family:"PingFangSC-Regular", "PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFCC00;
}
#u4854_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:45px;
  height:10px;
}
#u4854_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:18px;
  height:18px;
}
#u4854_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
